@font-face {
    font-family: 'RedVevet';
    src: url('/fonts/RedVevet.woff2') format('woff2'),
    url('/fonts/RedVevet.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
